
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
  box-sizing: border-box;
}


.App{
  width: 100vw;
  height: 100vh;
}

.form-group{
  width: 100%;
  margin-bottom: 10px;

  .title{
    font-size:16px;
    color: $PRIMARY;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .c-custom-input-1{
    width: 100%;
    height: 35px;
    border-radius: 4px;
    border-color: $THIRDARY;
    border: 1px solid $THIRDARY;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 4px;
    background-color: $WHITE1;

    &:focus{
      outline-style: $THIRDARY;
    }

    .custom-input-1{
      outline: none;
      display: flex;
      flex: 1;
      border: none;
      
    }

    .password-eye{
      margin: left 4px;
      cursor: pointer;

      &.open {
        color: $PRIMARY;
      }
    }
  }
}

.dashboard-container{
  height: 100%;
  // overflow: auto;
  display: flex;
  // flex-direction: column;
  background-color: $BACKGROUND;
}

.header-container{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 0 100px;
  background-color: $PRIMARY;
  z-index: 1050;

  .btn-logout{
    background-color: $WHITE1;
    border: 1px solid $WHITE1;
    color: $PRIMARY;
    font-size:14px;

    @include btn()
  }
}

.c-sidebar {
  position: fixed;
  z-index: 1040;
  padding-top: 80px;
  border-right: 1px solid $THIRDARY;
  width: 250px;
  height: 100%;
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  flex-direction: column;
  background-color: $BACKGROUND;
  transition: all 0.7ms;

  &.close{
    width: 80px !important;
    transition: all 0.7ms;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    
    flex: 1;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    padding: 40px 0px 20px 50px;

    &.close{
      padding: 40px 0px 20px 30px;
      transition: all 0.7ms;
    }

    .nav-item{
      width: inherit;
      padding: 1rem 0px 1rem 0px;
      text-decoration: none;

      .nav-link {
        display: flex;
        flex: 1 1;
        align-items: center;
        text-decoration: none;
        white-space: nowrap;
        list-style: none;
        color: $THIRDARY;
        font-size: 18px;
        font-weight: bold;
        margin-right: auto;
        letter-spacing: 0.7px;


        &.active {
          color: $PRIMARY
        }

        .nav-text{
          margin-left: 8px;
          opacity: 1;
          display: block;
          transition: all 0.7ms;


          &.close{
            opacity: 0;
            display: none;
            transition: all 0.7ms;
          }
        }


        
      }
    }
  }

  .c-action{
    border-top: 1px solid $THIRDARY;
    padding: 10px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .icon{
      transform: rotate(90deg);
    }
  }
}

.content-container{
  padding-top: 80px;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $BACKGROUND;
  transition: all 0.7ms;
  

  &.close{
    margin-left: 80px;
    transition: all 0.7ms;
  }

  .content{
    padding: 30px 20px;
  }


}